.about {
  padding-top: 80px;
}
.about .main-title-uner-line {
  font-size: 30px;
  font-weight: bold;
}
.main-title-uner-line-right {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.line-right {
  content: "";
  width: 80px;
  height: 4px;
  background: #f6c000;
  display: block;
  margin: 8px 0;
  text-align: center;
}
.line {
  content: "";
  width: 80px;
  height: 4px;
  background: #f6c000;
  display: block;
  margin: 8px 0;
}
.about .title {
  font-size: 21px;
  font-weight: 600;
  --fontSize: 21;
  line-height: 1.4;
  --minFontSize: 21;
}
.about .dec {
  font-size: 15px;
  color: #333;
  line-height: 1.5;
  width: 515px;
  margin-bottom: 35px;
  font-family: "Open Sans", sans-serif !important;
  font-weight: 400;
}
.about .Achieve-box {
  display: flex;
  padding: 10px;
}
.about .Achieve-box .box {
  background-image: linear-gradient(to right, #2f0e39, #600360);
  width: 100%;
  border-radius: 10px;
  padding: 13px;
  margin: 0px 10px 0px 0px;
  /* height: 100%; */
  font-size: 11px;
  text-align: center;
}
.about .Achieve-box .box-blue {
  background-image: linear-gradient(to right, #272f6b, #2033c7);
  width: 100%;
  border-radius: 10px;
  padding: 13px;
  margin: 0px 10px 0px 0px;
  /* height: 100%; */
  font-size: 11px;
  text-align: center;
  top: 40%;
}
.about .Achieve-box .box .box-text {
  color: #fff;
}
.team {
  color: #fff;
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}
.about .Achieve-box .box-blue .box-text {
  color: #fff;
}
