* {
  margin: 0;
  padding: 0;
}
.work-heading {
  text-align: center;
  font-family: sans-serif;
  padding-bottom: 30px;
}
.dec {
  font-size: 25px;
  font-weight: bold;
  font-family: sans-serif;
}
