@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap");

section {
  overflow: hidden;
  /* padding-top: 60px; */
}


.banner-one {
  background-repeat: no-repeat;
  background-position: top left;
  /* position: relative; */
  background-image: url("./assets/images/sec1-background.webp");
}

.banner-one .container-fluid {
  padding-left: 230px;
  /* padding-top: 300px; */
  padding-bottom: 454px;
}

.banner-one__content h3 {
  margin: 0;
  color: #fff;
  font-size: 100px;
  line-height: 95px;
  letter-spacing: -0.03em;
}

.banner-one__content h3 span {
  font-family: var(--special-font-light);
  font-size: 80px;
}

.banner-one__content p {
  font-size: 24px;
  color: #fff;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 50px;
}

.banner-one__btn {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 9.5px 26.5px;
}

.banner-one__btn:hover {
  background-color: #fff;
  color: var(--thm-black);
}

/*--------------------------------------------------------------
# Execute Section Start
--------------------------------------------------------------*/

.bg {
  width: 100%;
  height: auto;
  background-color: #2f0e39;
  padding: 35px;
  /* margin-top: 50px; */
}
.left-content {
  font-size: 25px;
  color: #fff;
  font-weight: 500;
}
.button {
  padding: 8px 20px 9px 21px;
  background-color: #f6c000;
  font-weight: 700;
  border: none;
  border-radius: 32px;
  float: right;
}
/*--------------------------------------------------------------
# Execute Section end
--------------------------------------------------------------*/

.testimonial-bg {
  background-color: #2f0e39;
  padding-bottom: 50px;
}
.testi-heading {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  font-family: sans-serif;
  color: #fff;
  padding-bottom: 25px;
}
.card {
  border: none;
}
.footer {
  color: var(--color-white);
  font-size: 14px;
}

.footer .footer-content {
  background: var(--color-secondary);
  padding: 60px 0 30px 0;
}

.footer .footer-content .footer-info {
  margin-bottom: 30px;
}

.footer .footer-content .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.footer .footer-content .footer-info h3 span {
  color: var(--color-primary);
}

.footer .footer-content .footer-info p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: var(--font-primary);
  color: var(--color-white);
}

.footer .footer-content h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-white);
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 15px;
}
.footer .footer-content h3 {
  /* font-size: 18px; */
  font-weight: 600;
  color: var(--color-white);
  position: relative;
  padding-bottom: 12px;
  margin-bottom: 15px;
  margin-top: 15px;
}
.footer-line {
  content: "";
  width: 80px;
  height: 4px;
  background: #d6aa0b;
  display: block;
  margin: -9px 0px 15px 0px;
  text-align: center;
  margin-bottom: 30px;
}
.awords-section ul li {
  text-align: center;
  display: inline-block;
  padding: 0px 21px 27px 0px;
}
.footer .footer-content h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 20px;
  height: 2px;
  background: var(--color-primary);
  bottom: 0;
  left: 0;
}

.footer .footer-content .footer-links {
  margin-bottom: 30px;
}

.footer .footer-content .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-content .footer-links ul i {
  padding-right: 2px;
  color: var(--color-white);
  font-size: 12px;
  line-height: 1;
}

.footer .footer-content .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-content .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-content .footer-links ul a {
  color: rgba(var(--color-white-rgb), 0.7);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-content .footer-links ul a:hover {
  text-decoration: none;
  color: #d6aa0b;
}

.footer .footer-content .footer-newsletter form {
  margin-top: 30px;
  background: var(--color-white);
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

.footer .footer-content .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

.footer
  .footer-content
  .footer-newsletter
  form
  input[type="email"]:focus-visible {
  outline: none;
}

.footer .footer-content .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: var(--color-primary);
  color: var(--color-white);
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}
.awords-section {
  text-align: center;
}
.social-account {
  display: flex;
}
.social-account a {
  background: #5e2b87;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  margin-right: 5px;
  color: #fff;
}
.footer-btn {
  background-color: #3d1761;
  border-radius: 22px;
  color: #fff;
  font-weight: 700;
  width: 100px;
  height: 36px;
  margin-left: 90px;
  margin-top: 20px;
  border: none;
}
.footer-btn a:hover {
  background-color: #fff;
  border-color: #3d1761;
  color: #000;
}
